/* Menú lateral de opciones y informacion del usuario */
aside{
    grid-area: aside;
    background-color: #e5e7ecec;
    display: flex;
    flex-direction: column;
}

/* Seccion donde va el avatar del usuario, nombre y rol */
.user-info{
    padding: 30px 20px 20px 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Texto dentro de la informacion del usuario */
.user-info-text{
    display: flex;
    flex-direction: column;
}

/* Campo del avatar */
.avatar-field{
    width: 50px;
    height: 50px;
}

/* Avatar */
.avatar{
    position: relative;
    width: 100%;
    height: 100%;
}

/* Menu Desplegable */
.user-menu{
    display: none;
    position: absolute;
    top: 30px;
    background-color: #5468e7;
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    list-style: none;
}

/* Lista de opciones menú */
.user-menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-option p{
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

/* "X" para cerrar el menu */
.close-menu-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 24px;
    cursor: pointer;
}

/* Opciónes dentro del menú */
.menu-option{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 5px 10px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #344df6;
    box-shadow: 0px 0px 32px -10px #344df6;
    transition: box-shadow .3s;
}

.menu-option:hover{
    box-shadow: 0px 0px 32px 1px #344df6;
}

/* Estilo para mostrar el menu */
.show-user-menu{
    transition: displat .3s;
    display: block;
}

.user-config-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-config-nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-config-nav{
    padding-left: 20px;
    border-right: 1px solid #e3e4eb;
}

.user-config-nav-option{
    padding: 10px 20px;
    background-color: #c7c9d4;
    border-radius: 8px;
    transition: box-shadow .3s;
}

.user-config-nav-option:hover{
    box-shadow: 0px 0px 32px -5px #9196b1;
}

.active-option{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #3e57f8;
    box-shadow: 0px 0px 32px -10px #344df6;
    transition: box-shadow .3s;
}

.active-option:hover{
    background-color: #334efc;
    box-shadow: 0px 0px 32px -1px #344df6;
}

.active-option-text{
    color: #ffffff;
}

.user-nav-option-text{
    color: #000;
}

.user-config-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
}

.user-config-info{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    gap: 10px;
}

.name-field{
    color: #9196b1;
}

.user-email-field{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 16px;
    border: 1px #9196b1 solid;
}

.user-name-field{
    display: flex;
    gap: 20px;
    padding: 10px 60px 10px 20px;
    border-radius: 16px;
    border: 1px #9196b1 solid;
}

/* Nav que contiene las dos secciones */
.menu-sections{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Secciones del menú */
.first-section, .second-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

.user-rol, .user-name{
    font-weight: 600;
    color: #5A6ACF;
}

/* Nombre del usuario */
.user-name{
    margin: 10px 0px 0px 0px;
}


/* Identificador de cada parte del menú como "menú" y "otros"*/
.section-identificator{
    color: #9196b1;
    padding: 8px 5px;
    align-self: flex-start;
    font-size: 15px;
}

/* Texto de la sección */
.option-text{
    color: #A6ABC8;
    font-size: 16px;
}

/**/
.menu-icon-field, .menu-icon{
    width: 25px;
    height: 25px;
}

/* Opciones del menu */
.option{
    padding: 8px 10px 8px 10px;
    display: flex;
    align-content: center;
    gap: 15px;
    border-radius: 15px
}

/* Sección en la que se encuentra el usuario */
.active-section{
    background-color: #3e57f8;
    box-shadow: 0px 0px 32px -10px #344df6;
}

.active-section-text{
    color: #ffffff;
    font-weight: 600;
}

.flex-column{
    flex-direction: column;
}

.modal-button{
    color: #000;
    text-align: center;
    font-size: 14px;
}

.repository{
    padding: 8px 20px;
    border-radius: 16px;
    background-color: #344df6;
}

.repository-field{
    display: flex;
    gap: 8px;
    color: #ffffff;
}


/* Responsive */
/* Tablet */
@media(width <= 1200px){

    .first-section,.second-section{
        padding: 10px 0px 0px 0px;
        align-items: center;
    }

    .section-identificator{
        padding-left: 30px;
    }

    .user-info{
        padding: 20px 5px 5px 5px;
    }

    .avatar-field{
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
    }

    .user-info-text{
        display: none;
    }

    .option{
        padding: 8px 5px;
    }

    .option-text{
        font-size: 14px;
    }
}

/* Móvil */
@media(width <= 700px){

    aside{
        flex-direction: row-reverse;
    }
    .menu{
        width: 90%;
        align-content: center;
        padding: 0px 15px 0px 15px;
    }

    .menu-sections{
        flex-direction: row;
    }

    .user-info{
        width: 10%;
    }

    .first-section, .second-section{
        flex-direction: row;
        align-items: center;
        width: 50%;
        height: 100%;
        padding: 0;
    }

    .options-section{
        display: flex;
        flex-direction: row;
    }

    .section-identificator{
        display: none;
    }
}
