main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    width: 100%;
    max-width: 800px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8d0d0;
    border-radius: 16px;
}

/* Formulario */
.help-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-body{
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form{
    padding: 10px 60px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
}

.complaint{
    padding: 10px 60px 100px 60px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
}

.modal-button{
    background-color: #e7dddd;
}