/* Información principal de la pagina */
main{
    grid-area: main;
}

/* Bienvenida */
.welcome{
    height: 15%;
    display: flex;
    padding: 82px 30px 30px 60px;
    gap: 8px;
    color: #1F384C;
    align-items: center;
}

/* Texto de bienvenida */
.welcome-text{
    font-size: 46px;
    font-weight: 500;
}

/* Nombre del usuario */
.name{
    font-size: 42px;
    font-weight: 500;
}

/* Sección que contiene todas las opciones*/
.sections-container{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 0px 90px;
    height: 85%;
    width: 100%;
    padding: 82px 200px 200px 100px;
    justify-content: center;
}

/* Secciones */
.users,
.products, 
.categories, 
.subcategories, 
.reports, 
.warrantys,
.supliers,
.transformations{
    height: 160px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tarjeta de cada sección */
.card-section{
    height: 120px;
    width: 100%;
    background-color: #e6e1e1;
    border-radius: 10px;
}

/* Iconos de cada sección */
.module-icon{
    width: 100%;
    height: 100%;
    padding: 35px;
}

/* Nombre del modúlo */
.module-name{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    padding-top: 16px;
}