/* Información principal de la pagina */
main{
    grid-area: main;
}

/* Bienvenida */
.welcome{
    height: 15%;
    display: flex;
    padding: 82px 30px 30px 70px;
    gap: 12px;
    color: #1F384C;
    align-items: center;
}

/* Texto de bienvenida */
.welcome-text, .name{
    font-size: 46px;
    font-weight: 500;
}

/* Sección que contiene todas las opciones*/
.sections-container{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 0px 90px;
    height: 85%;
    width: 100%;
    padding: 82px 200px 200px 100px;
    justify-content: center;
}

/* Secciones */
.home-section{
    height: 160px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section:hover .module-name{
    transform: scale(1.1);
}

/* Tarjeta de cada sección */
.card-section{
    height: 120px;
    width: 100%;
    background-color: #f3eef5;
    border-radius: 10px;
    transition: box-shadow .3s;
}

.card-section:hover{
    box-shadow: 0px 0px 32px 3px  #f3eef5;
}

/* Iconos de cada sección */
.module-icon{
    width: 100%;
    height: 100%;
    padding: 35px;
}

/* Nombre del modúlo */
.module-name{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    padding-top: 16px;
    transition: transform .3s ease;
}

/* Responsive */
/* Tablet */
@media(width <= 1100px){
    .welcome-text, .name{
        font-size: 36px;
    }

    .sections-container{
        grid-template-columns: repeat(3, 120px);
        padding: 20px 100px 100px 40px;
        gap: 5px 90px;
    }
}

/* Móvil */