/* Estilos globales para las modales */

/* Modal */
.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111bd;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

/* Contenedor del modal */
.modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #ffffff;
    border-radius: 7px;
    gap: 6px;
}

/* Cabecera del modal */
.modal-header{
    width: 100%;
    padding: 10px 5px 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Titulo del modal */
.modal-title{
    font-weight: 500;
}

/* Titulo de cada información */
.modal-content-title{
    font-weight: 600;
}

/* Contenedor del titulo y el texto de una modal de error */
.modal-error-text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

/* Titulo de Algún error com contraseña incorrecta */
.modal-error-title{
    font-size: 20px;
    font-weight: 500;
}

/* Imagen para cada modal de error */
.error-modal-image{
    height: 150px;
    width: 150px;
}

/* Botones Dentro del modal de informacion */
.modal-buttons{
    display: flex;
    gap: 30px;
    padding: 30px 0px 15px 0px;
}

/* Iconos de los botones del modal de más información */
.modal-info-button{
    height: 30px;
    width: 30px;
}

/* Clase global para cualquier botón */
.modal-button{
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 500;
    border: 0;
    transition: box-shadow .3s;
}

/* Botón para confirmar */
.modal-button-confirm{
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 500;
    border: 0;
    color: #ffffff;
    background-color: #3e57f8;
    transition: box-shadow .3s;
}

.modal-button:hover{
    box-shadow: 0px 0px 32px -5px  gray;    
}
.modal-button-confirm:hover{
    box-shadow: 0px 0px 32px 1px  gray;
}

/* Propiedad para que el modal sea visible */
.show-modal{
    opacity: 1;
    pointer-events: unset;
}


/* Formulario dentro de la modal */
.modal-form{
    display: flex;
    flex-direction: column;
}

/* Entradas de texto del formulario */
.modal-form input{
    padding: 8px 7px;
    border-radius: 5px;
    border: 1px solid #e2d6d6;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* Icono "X" para cerrar el modal */
.close-modal-icon{
    height: 24px;
    width: 24px;
}

/* Icono de "✔" para confirmar */
.confirm-icon{
    border: 0;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
}

/* Contenedor modal filtro */
.filter-modal-container{
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    background-color: #ede8e9;
}

/* Menú de opciones */
.filter-menu{
    padding: 5px 5px 15px;
}

/* Opcion */
.filter-option{
    padding: 10px 5px;
    color: #000;
}

select{
    padding: 8px 7px;
    border-radius: 5px;
    border: 1px solid #e2d6d6;
}
