/* Adaptabilidad a cualquier tipo de pantalla */

/* Movil */
@media (width <= 480px) {
    .container{
        grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        ;
    }

    aside{
        display: none;
    }

    .menu-button{
        display: block;
    }

    .show-aside{
        display: block;
    }
}


/* Tablet */
@media (width <= 768px){
    .container{
        grid-template-areas:
        "header header"
        "main main aside"
        "main main aside"
        ;
    }
}
