/* Adaptabilidad a cualquier tipo de pantalla */

/* Movil */
@media (width <= 750px) {
    .container{
        grid-template-areas:
        "header"
        "main"
        "aside"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 85% 10%;
    }
}


/* Tablet */
@media (width <= 1100px){
    
}
