main{
    grid-area: main;
}

/* Primera seccion que contiene el nombre del modulo*/
.top-section{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Sección de los botones */
.category-top-buttons{
    display: flex;
    gap: 19px;
    padding-right: 51px;
}

/* Nombre de la sección */
.section-name{
    height: 10%;
    padding: 40px 0px 40px 40px;
    font-weight: 500;
    font-size: 18px;
    padding-left: 40px;
}

/* Contenedor con todos las categorias */
.subcategories-container{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 0px 14px 20px 14px;
    gap: 5px;
}

/* Campo con datos de la categoria */
.subcategory-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3eef5;
    border-radius: 16px;
    padding: 25px 36px;
}

/* Nombre de la categoria */
.subcategory-name{
    font-size: 32px;
    font-weight: 500;
}

/* Botones de cada categoria */
.subcategories-buttons{
    display: flex;
    gap: 22px;
}

/* Clase para cada botón */
.subcategory-button{
    border: 0;
    background-color: #f3eef5;
}

/* Imagen de cada boton */
.button-image{
    width: 28px;
    height: 28px;
}

/* Barra de búsqueda */
.search-bar-categories{
    padding: 5px;
    border: 1px solid #d2cece ;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Entrada de texto buscador */
.search-input{
    font-size: 15px;
    height: 100%;
    width: 90%;
    border: 0;
    outline: none;
    padding: 0px 0px 0px 20px;
    color: #000;
}

/* Texto dentro del botón */
.button-text{
    font-size: 16px;
    font-weight: 500;
}