main{
    grid-area: main;
}

/* Sección que contiene su nombre y dos botones */
.top-section{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Nombre de la sección */
.section-name{
    height: 10%;
    font-weight: 500;
    font-size: 18px;
    padding-left: 40px;
}

/* Sección de los botones */
.user-top-buttons{
    display: flex;
    gap: 19px;
    padding-right: 51px;
}

/* Contenedor con todos los usuarios */
.users-container{
    display: flex;
    flex-direction: column;
    height: 82%;
    width: 100%;
    padding: 0px 14px 20px 14px;
    gap: 5px;
}

/* Paginación*/
.pages{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 5px;
    gap: 6px;
}

/* Botón de filtrar */
.filter-button{
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    border: 0;
    background-color: #ede8e9;
}

/* Botón de añadir usuarios */
.add-user-button{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 0;
    background-color: #bac4ff;
    box-shadow: 0px 0px 32px -10px #344df6;
    padding: 5px 15px 5px 15px;
    gap: 8px;
}

/* Texto dentro del botón */
.button-text{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/* Campo con datos del usuario */
.user-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2d6d6;
    border-radius: 16px;
    padding: 25px 36px;
}

/* Informacion del Usuario */
.user-information{
    display: flex;
    align-items: center;
    gap: 17px;
}
/* Clase para agregar flex y un peso más fuerte a la fuente */
.info{
    display: flex;
    align-items: center;
    font-weight: 500;
}

/* Nombre */
.username{
    font-size: 32px;
}

/* Telefono */
.phone{
  font-size: 18px;
}

/* Contenedor de botones para interactuar con el usuario */
.user-buttons{
    display: flex;
    gap: 22px;
}

/* Boton para ver más información, editar o eliminar usuario */
.user-button{
    border: 0;
    background-color: #e2d6d6;
}

/* Imagen de cada boton */
.button-image{
    width: 28px;
    height: 28px;
}

/* Página en la que se encuentra */
.active-page{
    border-radius: 50%;
    background-color: #bac4ff;
    padding: 8px 18px 8px 18px;
    color: #1431f1;
}

/* Página en la que no se encuentra */
.inactive-page{
    color: #000;
}

/* Contenedor modal filtro */
.filter-modal-container{
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    background-color: #ede8e9;
}

/* Menú de opciones */
.filter-menu{
    padding: 5px 5px 15px;
}

/* Opcion */
.filter-option{
    padding: 10px 5px;
    color: #000;
}

