# Host de la base de datos
DB_HOST= 
# Contraseña de la base de datos
DB_PASSWORD=
# Usuario de la base de datos
DB_USER=
# Puerto para conectarse a la base de datos
DB_PORT=
# Nombre de la base de datos
DB_NAME=
# Firma secreta para usar en el jwt
SECRET_KEY=
# Algoritmo que va a usar jwt para encriptar
ALGORITHM=
# Tiempo 
ACCESS_TOKEN_EXPIRE=