# Host de la base de datos
DB_HOST= 
# Contraseña de la base de datos
DB_PASSWORD=
# Usuario de la base de datos
DB_USER=
# Puerto para conectarse a la base de datos
DB_PORT=
# Nombre de la base de datos
DB_NAME=
# Firma secreta para usar en el jwt puedes usar una pagina como https://www.vondy.com/random-key-generator--ZzGGMYgS?lc=5
SECRET_KEY=
# Algoritmo que va a usar jwt para hashear
ALGORITHM=
# Tiempo para que el jwt expire en MINUTOS
ACCESS_TOKEN_EXPIRE=