/* Fondo del grafico de usuarios */
.users-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets/icons/main/dashboard/arrow_up_bg_icon.svg");
  background-repeat: no-repeat;
  background-size: 240px;
  background-position: right 0px;
}

/* Fondo del grafico de productos */
.products-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets/icons/aside/products-icon.svg");
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: right 5px bottom -20px;
}

/* Fondo del gráfico de ordenes de salida */
.output-orders-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets/icons/aside/output-orders-icon.svg");
  background-repeat: no-repeat;
  background-size: 155px;
  background-position: right 5px bottom -40px;
}

/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  .users-background {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0)),
      url("../../assets/icons/main/dashboard/arrow_up_bg_icon.svg");
  }
}
