/* Fondo del grafico de usuarios */
.users-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets//icons/main/dashboard/arrow_up_bg_icon.svg");
  background-repeat: no-repeat;
  background-size: 240px;
  background-position: right 0px;
}

/* Fondo del grafico de productos existentes */
.products-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets//icons/aside/products-icon.svg");
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: right 5px bottom -20px;
}

@media (prefers-color-scheme: dark) {
  .users-background {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0)),
      url("../../assets//icons/main/dashboard/arrow_up_bg_icon.svg");
  }
}
