<link rel="stylesheet" href="../styles/styles.css">
<header>
    <!-- Barra De Búsqueda -->
    <form role="search" class="search-bar">
        <p class="search-text">Buscar</p>
        <a href="#" class="search-icon-space">
            <img class="search-icon" src="../assets/images/header/search-icon.svg" alt="Lupa Para Buscar">
        </a>
    </form>
    <!-- Campana De Notificaciones -->
    <a href="#">
        <img class="bell" src="../assets/images/header/bell.svg" alt="Icono de notificaciones">
    </a>
    <button id="menu-button" class="menu-button">
        <img src="../assets/images/header/menubar-icon.svg" alt="Icono de menu de Opciones">
    </button>
</header>