/* Menú lateral de opciones y informacion del usuario */
aside{
    grid-area: aside;
    background-color: #f3eef5;
    display: flex;
    flex-direction: column;
}

/* Seccion donde va el avatar del usuario, nombre y rol */
.user-info{
    padding: 30px 15px 30px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Texto dentro de la informacion del usuario */
.user-info-text{
    display: flex;
    flex-direction: column;
}

/* Campo del avatar */
.avatar-field{
    width: 50px;
    height: 50px;
    cursor: pointer;
    align-items: center;
}

/* Foto de perfil o Avatar del usuario */
.avatar{
    position: relative;
    width: 100%;
    height: 100%;
}

/* Rol del usuario y nombre del usuario*/
.user-rol, .user-name{
    font-weight: 600;
    color: #3e3f41;
}

/* Nav que contiene las dos secciones */
.menu-sections{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Secciones del menú */
.first-section, .second-section{
    display: flex;
    flex-direction: column;
    padding: 0px 25px 0px 30px;
}

/* Lista de opciones del menú */
.options-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

/* Identificador de cada parte del menú como "menú" y "otros"*/
.section-identificator{
    color: #9196b1;
    padding: 8px 5px;
    align-self: flex-start;
    font-size: 15px;
}

/* Texto de la sección */
.option-text{
    color: #A6ABC8;
    font-size: 16px;
}

/* Imagén o icono de cada sección */
.menu-icon-field{
    width: 25px;
    height: 25px;
}

/* Opciones del menú */
.option-field{
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .5s ease;
}

/* Estilo que se aplica al campo de la opción al tener el cursor encima */
.option-field:hover{
    background-color: #e1e2e7;
}

/* Campo donde se ubica la opción */
.option{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Sección en la que se encuentra el usuario */
.active-section{
    background-color: #000000;
    box-shadow: 0px 0px 32px -15px #000000;
}

/* Estilo que se aplica a la opción activa al tener el cursor encima */
.active-section:hover{
    background-color: #000000;
}

/* Clase para volver al imagen de color blanco al moverse a la sección activa */
.active-section img{
    filter: brightness(0) invert(1);
}

/* Texto de la sección activa */
.active-section-text{
    color: #ffffff;
    font-weight: 600;
}

/* Contenedor de los botones de cambiar contraseña y cerrar sesion */
.modal-buttons{
    gap: 10px !important;
    flex-direction: column;
}

/* Botón para confirmar */
.modal-button-confirm{
    background-color: #000000 !important;
}

/* Clase para la fuente del botón de cerrar Sesión */
.modal-button{
    color: #000;
    text-align: center;
    font-size: 14px;
}

/* Responsive */
/* Móvil */
@media(width <= 800px){

    aside{
        flex-direction: row-reverse;
    }
    .menu{
        width: 90%;
        align-content: center;
        padding: 0px 15px 0px 15px;
    }

    .menu-sections{
        flex-direction: row;
    }

    .user-info{
        width: 10%;
    }

    .first-section, .second-section{
        flex-direction: row;
        align-items: center;
        width: 50%;
        height: 100%;
        padding: 0;
    }

    .options-section{
        display: flex;
        flex-direction: row;
    }

    .section-identificator{
        display: none;
    }
}

/* Portatil */
@media(width <= 1300px){

    .user-info{
        padding: 20px 5px 5px 5px;
    }

    .avatar-field{
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
    }

    .user-info-text{
        display: none;
    }

    .first-section, .second-section{
        padding: 0px 15px;
    }

    .option-field{
        padding: 12px 0px;
    }

    .option{
        justify-content: center;
    }
    .option-text{
        display: none;
    }

    .section-identificator{
        padding: 10px 0px;
    }
}