/* Importar valores predeterminados */
@import url('root.css');
@import url('responsive.css');
@import url('modals.css');

/* Container */
.container{
    display: flex;
    min-height: 100dvh;
    min-width: 100dvw;
    justify-content: center;
    align-items: center;
}

/* Tarjeta que contiene el login */
.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: #e6e1e1;
    border-radius: 15px;
    gap: 8px;
}

/* Logo del proyecto */
.logo{
    padding: 0px 183px 0px 183px;
}

/* Campos donde el usuario escribe su correo y su contraseña */
.user-name-field, .password-field{
    display: flex;
    flex-direction: column;
}

/* Labels */
.login-label{
    align-self: flex-start;
}

/* Campos donde se escribe */
input{
    border-radius: 8px;
    border: 0;
    padding: 12px 70px 12px 20px;
    font-weight: 500;
    font-size: 15px;
}

/* Clase para los textos que hay dentro de los campos */
input::placeholder{
    color: #B3B3B3;
    font-size: 15px;
}

/* Campo de cada boton */
.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

/* Boton de ingreso */
.login-button{
    padding: 13px 110px;
    border-radius: 8px;
    background-color: #4e5fd1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow .3s;
}

/* Clase que se le agrega al botón de ingresar cuanto tiene el cursor encima */
.login-button:hover{
    background-color: #344df6;
    box-shadow: 0px 0px 32px -10px #344df6;
}

/* Botón de recuperar contraseña */
.recover-pass-button{
    padding: 13px 65px;
    border-radius: 8px;
    background-color: #d0d1dabb;
    color: #424040;
    font-weight: 500;
    font-size: 14px;
    transition: box-shadow .3s;
}

/* Clase que se le agrega boón de recuperar cuanto tiene el cursor encima */
.recover-pass-button:hover{
    background-color: #bfc0ca;
    box-shadow: 0px 0px 32px -8px #8e8f94;
}

/* Fondo casi transparente para algunos modales */
.background{
    background-color: #00000028;
}

/* Cambio del justify content para modales de error que no tienen título */
.flex-end{
    justify-content: flex-end;
}

/* Sección donde se digita el correo y se envia el código en la modal */
.email-section{
    display: flex;
    align-items: center;
    gap: 15px;
}