main{
    grid-area: main;
}

/* Primera seccion que contiene el nombre del modulo y el buscador */
.top-section{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

/* Nombre de la sección */
.section-name{
    height: 10%;
    padding: 40px 0px 40px 40px;
    font-weight: 500;
    font-size: 18px;
    padding-left: 40px;
}

/* Segundo contenedor de arriba */
.second-top-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Barra de búsqueda de la tabla */
.search-bar-table{
    padding: 5px;
    border: 1px solid #d2cece ;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Entrada de texto buscador */
.search-input{
    font-size: 15px;
    height: 100%;
    width: 90%;
    border: 0;
    outline: none;
    padding: 0px 0px 0px 20px;
    color: #000;
}

/* Estilos para el texto dentro de la barra de búsqueda */
.search-input:placeholder{
    color: #9196b1;
}

/* Espacio del icono de la lupa */
.search-icon-space{
    width: 24px;
    height: 31px;
}

/* Lupa de búsqueda */
.search-icon{
    width: 24px;
    height: 31px;
}

/* Contenedor de la tabla */
.table-wrapper{
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 90%;
}

/* Tabla de productos */
.products-table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-decoration: none;
}

/* Textos dentro del header de la tabla */
.header-text{
    font-size: 18px;
    font-weight: 500;
    padding: 14px;
}

/* Campo que ocupa cada producto */
.product-field{
    height: 100px;
    background-color: #dbd8d8;
    text-align: center;
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Color diferente para cada columna */
.row-color{
    background-color: #f3eef5;
}

/* Botones */
.product-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Espacio de cada boton y imágen de cada botón */
.product-button, .button-image{
    width: 30px;
    height: 30px;
}
/* Botón de scanner */
.scanner-button{
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 500;
    border: 0;
    transition: box-shadow .3s;
}
/* Clase que se le agrega botón de scanner cuanto tiene el cursor encima */
.scanner-button:hover{
    box-shadow: 0px 0px 32px 2px  gray;    
}