main{
    grid-area: main;
}

/* Primera seccion que contiene el nombre del modulo*/
.top-section{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Nombre de la sección */
.section-name{
    height: 10%;
    padding: 40px 0px 40px 40px;
    font-weight: 500;
    font-size: 18px;
    padding-left: 40px;
}

/* Sección de los botones */
.suplier-top-buttons{
    display: flex;
    gap: 19px;
    padding-right: 51px;
}

/* Botón de filtrar */
.filter-button{
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    border: 0;
    background-color: #ede8e9;
    box-shadow: 0px 0px 32px -5px #b3afb0;
    transition: box-shadow .3s;
}

.filter-button:hover{
    box-shadow: 0px 0px 32px 1px #b3afb0;
}

/* Botón de añadir usuarios */
.add-suplier-button{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 0;
    background-color: #bac4ff;
    box-shadow: 0px 0px 32px -10px #344df6;
    padding: 5px 15px 5px 15px;
    gap: 8px;
    transition: box-shadow .3s;
}

.add-suplier-button:hover{
    box-shadow: 0px 0px 32px -5px #344df6;
}

/* Barra de búsqueda de la tabla */
.search-bar-suplier{
    padding: 5px;
    border: 1px solid #d2cece ;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Entrada de texto buscador */
.search-input{
    font-size: 15px;
    height: 100%;
    width: 90%;
    border: 0;
    outline: none;
    padding: 0px 0px 0px 20px;
    color: #000;
}

/* Contenedor con todos los proveedores */
.supliers-container{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 0px 14px 20px 14px;
    gap: 5px;
    overflow-y: auto;
}

/* Campo con datos del proveedor */
.suplier-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3eef5;
    border-radius: 16px;
    padding: 18px 35px;
}

/* Información del proveedor */
.suplier-information{
    display: flex;
    align-items: center;
    gap: 17px;
}

/* Clase para agregar flex y un peso más fuerte a la fuente */
.info{
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #000;
}

/* Nombre del Proveedor */
.suplier-name{
    font-size: 32px;
    font-weight: 500;
    color: #000;
}

/* Telefono */
.phone{
  font-size: 18px;
}

/* Informacion del proveedor*/
.suplier-info{
    display: flex;
    align-items: center;
    font-weight: 500;
}

/* Botones de cada proveedor */
.suplier-buttons{
    display: flex;
    align-items: center;
    gap: 22px;
}

/* Clase para cada botón */
.suplier-button{
    border: 0;
    width: 28px;
    height: 28px;
}