/* Información principal de la pagina */
main{
    grid-area: main;
}


/* Nombre de la seccion en la que se encuentra el usuario */
.section-name{
    font-weight: 500;
    padding: 40px 0px 40px 40px;
}
