/* Importar Tailwind y estilos globales */
@import url("./main.css");

/* Importar Fuentes Mediante google fonts API */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Importar estilos para los inputs */
@import url("./input.css");

/* Importar estilos para las tablas */
@import url("./tables.css");

/* Importar estilos para los menús de opciones */
@import url("./select.css");

/* Importar estilos para la barra de navegacion lateral o inferior */
@import url("./scrollbar.css");

/* Importar los fondos de los top cards del dashboard */
@import url("./background-charts-icons.css");

/* Importar el loader o circulo de carga */
@import url("./loader.css");

/* Importar Fuentes Mediante archivos locales */
@font-face {
  font-family: "Poppins";
  src:
    url("../../assets/fonts/Poppins-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Poppins-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Poppins-Black.ttf") format("truetype"),
    url("../../assets/fonts/Poppins-Bold.ttf") format("truetype"),
    url("../../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Estilos para formatear los estilos por defecto del navegador */
* {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

