<!doctype html>
<html>
  <body
    style="
      font-family:
        DM Sans,
        sans-serif !important;
      padding: 20px;
    "
  >
    <div
      style="
        max-width: 500px;
        margin: auto;
        background: white;
        padding: 30px;
        border-radius: 12px;
      "
    >
      <h1 style="text-align: center">Hola, {{ name }} 👋</h1>
      <p style="text-align: center; font-size: large">
        Recibimos una solicitud para restablecer tu contraseña.
      </p>
      <div style="padding-left: 20%; margin-bottom: 35px; margin-top: 35px">
        <a
          href="127.0.0.1:5173"
          style="
          cursor: pointer;
            margin-top: 15px;
            font-weight: 700;
            font-size: 20px;
            background: black;
            color: white;
            padding: 15px 28px;
            border-radius: 25px;
            text-decoration: none;
          "
        >
          Restablecer contraseña
        </a>
      </div>
      <p style="text-align: center; color: #666; font-size: 12px">
        Si no solicitaste esto, ignora este correo.
      </p>
      <p style="text-align: center; color: #666; font-size: 12px">
        Este es un correo automático,<br />
        Por favor, no respondas a este mensaje.
      </p>
    </div>
  </body>
</html>
